/* Write your global styles here, in PostCSS syntax */

@tailwind base;

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #1e1f21;
	--secondary-color: #353739;
	--tertiary-color: #515558;
	--accent-color: #855bbb;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #f3ebeb;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
	display: flex;
	flex-direction: column;
}

nav {
	user-select: none;
	background: var(--primary-color);
	color: var(--pure-white);
	border-color: var(--accent-color)
}

nav .item {
	min-width: 0; min-height: 0;
	@apply px-2 py-1 rounded-md text-text hover:bg-gray-100 transition-all duration-300 hover:text-gray-900 hover:cursor-pointer flex items-center
}

nav .item.active {
	@apply bg-gray-100 text-gray-900
}

nav .items > div {
	@apply hover:cursor-default mx-1
}

nav .items > div span,a {
	@apply pl-1 mx-2
}

nav .items > div svg {
	color: var(--accent-color);
}


a {
	color: var(--accent-color);
	text-decoration: underline
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}


.spin {
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@tailwind components;

@tailwind utilities;
